/* Element UI theme colors */
$--color-primary: #1890ff;
$--color-success: #13ce66;
$--color-warning: #FFBA00;
$--color-danger: #ff4949;
// $--color-info: #1E1E1E;
$--button-font-weight: 400;
// $--color-text-regular: #1f2d3d;
$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;
$--table-border:1px solid#dfe6ec;

/* Sidebar */
$sideBarWidth: 210px;
$subMenuBg:#1f2d3d;
$subMenuHover:#001528;
$subMenuActiveText:#f4f4f5;
$menuBg:#304156;
$menuText:#bfcbd9;
$menuActiveText:#409EFF;

/* Login page */
$lightGray: #eee;
$darkGray:#889aa4;
$loginBg: #283443;
$loginCursorColor: #fff;

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  theme: $--color-primary;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
}
