/* Sidebar */
$sideBarWidth: 210px;
$subMenuBg:#1f2d3d;
$subMenuHover:#001528;
$subMenuActiveText:#f4f4f5;

/* Login page */
$lightGray: #eee;
$darkGray:#889aa4;
$loginBg: #283443;
$loginCursorColor: #fff;
